In [1]:
import geopandas
import matplotlib.pyplot as plt
import contextily as cx
import pandas
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')
geopandas.options.io_engine = "pyogrio"

db_path = "data/staging.gpkg"

/Users/walkerhannan/projects/Bio-Mitigation-Sediment-Transport/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
from sqlalchemy import create_engine
from config import PostgresReadOnlyConfig

query = """
  select * FROM public.climate_hourly h
    where h.parameter = 'Precipitation'
"""
conn_str = PostgresReadOnlyConfig().__str__()
engine = create_engine(conn_str)
rainfall = geopandas.read_postgis(sql=query, con=engine, geom_col='geometry', crs="EPSG:26914")
rainfall.head()

,ckey,date_time,longitude,latitude,station_number,value,parameter,geometry
0,323032312D30372D32375430373A35313A303055535730...,2021-07-27T07:51:00,-97.7604,30.3208,USW00013958,0.00,Precipitation,POINT (619174.738 3354984.354)
1,323032312D30372D32375430383A35313A303055535730...,2021-07-27T08:51:00,-97.7604,30.3208,USW00013958,0.00,Precipitation,POINT (619174.738 3354984.354)
2,323032312D30372D32375430393A35313A303055535730...,2021-07-27T09:51:00,-97.7604,30.3208,USW00013958,0.00,Precipitation,POINT (619174.738 3354984.354)
3,323032312D30372D32375431303A35313A303055535730...,2021-07-27T10:51:00,-97.7604,30.3208,USW00013958,0.00,Precipitation,POINT (619174.738 3354984.354)
4,323032312D30372D32375431313A35313A303055535730...,2021-07-27T11:51:00,-97.7604,30.3208,USW00013958,0.00,Precipitation,POINT (619174.738 3354984.354)